
header{
    width: 20rem;
    height: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    margin-top: 2rem;

        img{
            width: 50%;
            margin-bottom: 1.5rem;
        }

        .rating {
            width: 9.5rem;
            height: 1.5rem;

            padding-top: .2rem;
            text-align: center;
            color: $orange !important;
            background-color: $dark-blue;
            border-radius: .8rem;
        }
}


h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: .6rem;
}

.message {
    margin-top: 0px;
    text-align: center;
    font-size: .8rem;
}